@charset "UTF-8";
.head {
  position: fixed;
  background: #fff;
  height: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(180, 180, 180, 0.5);
  z-index: 33;
}
.head .back {
  width: 1.33333333rem;
  height: 100%;
  background: url(../image/back.png) no-repeat center center;
  background-size: 0.53333333rem;
}
.head span {
  font-size: 0.42666667rem;
  color: #333;
  height: 100%;
  line-height: 1.2rem;
}
.head .edit {
  width: 1.33333333rem;
  height: 100%;
  color: #ee5d58;
  font-size: 0.42666667rem;
  line-height: 1.2rem;
}
.wrapAll {
  width: 100%;
  padding-top: 1.2rem;
}
.wrapAll .container {
  width: 100%;
}
.wrapAll .container .emptyCart {
  width: 100%;
  height: 3.46666667rem;
  background: #F4F4F4;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapAll .container .emptyCart p {
  font-size: 0.37333333rem;
  color: #666;
  height: 0.8rem;
}
.wrapAll .container .emptyCart a {
  width: 1.86666667rem;
  height: 0.8rem;
  font-size: 0.37333333rem;
  border: 1px solid #ee5d58;
  color: #ee5d58;
  border-radius: 0.53333333rem;
  text-align: center;
  line-height: 0.8rem;
}
.wrapAll .container .shopList {
  background: #F4F4F4;
  width: 100%;
  padding-bottom: 0.26666667rem;
}
.wrapAll .container .shopList .select {
  width: 1.06666667rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapAll .container .shopList .select i {
  width: 0.58666667rem;
  height: 0.58666667rem;
  background: url(https://static01.baocdn.com/h5/img/20180319/cart/cart-icon.png) no-repeat;
  background-size: 1.55rem;
  background-position: -0.02133333rem -0.02133333rem;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
  box-sizing: border-box;
}
.wrapAll .container .shopList .topTips {
  width: 100%;
  position: relative;
}
.wrapAll .container .shopList .topTips i {
  position: absolute;
  width: 0.44rem;
  height: 0.44rem;
  left: 0.26666667rem;
  top: 0.32rem;
  background: url(https://static01.baocdn.com/h5/img/20180319/cart/cart-icon.png) no-repeat;
  background-size: 1.6rem;
  background-position: -1.16rem -0.22rem;
}
.wrapAll .container .shopList .topTips p {
  font-size: 0.34666667rem;
  color: #666;
  line-height: 0.53333333rem;
  padding: 0.26666667rem 0.8rem;
}
.wrapAll .container .shopList .mainList {
  background: #fff;
  width: 100%;
}
.wrapAll .container .shopList .mainList .top-check {
  height: 1.17333333rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e3dddf;
}
.wrapAll .container .shopList .mainList .top-check span {
  width: 8.93333333rem;
  color: #333;
  font-size: 0.37333333rem;
}
.wrapAll .container .shopList .mainList .all-pro-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e3dddf;
}
.wrapAll .container .shopList .mainList .all-pro-list li {
  width: 100%;
  height: 2.93333333rem;
  display: flex;
  position: relative;
}
.wrapAll .container .shopList .mainList .all-pro-list li a {
  width: 8.93333333rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.wrapAll .container .shopList .mainList .all-pro-list li .image {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.26666667rem;
}
.wrapAll .container .shopList .mainList .all-pro-list li .image img {
  width: 100%;
}
.wrapAll .container .shopList .mainList .all-pro-list li .discrip {
  width: 5.86666667rem;
  height: 2.4rem;
}
.wrapAll .container .shopList .mainList .all-pro-list li .discrip h4 {
  font-size: 0.34666667rem;
  color: #444;
}
.wrapAll .container .shopList .mainList .all-pro-list li .discrip p {
  font-size: 0.34666667rem;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapAll .container .shopList .mainList .all-pro-list li .discrip .price {
  color: #ee5d58;
  font-size: 0.37333333rem;
  margin-top: 0.53333333rem;
}
.wrapAll .container .shopList .mainList .all-pro-list li .number {
  position: absolute;
  width: 2.13333333rem;
  height: 0.53333333rem;
  font-size: 0.34666667rem;
  color: #333;
  bottom: 0.66666667rem;
  right: 0.4rem;
  border-radius: 0.26666667rem;
  border: 1px solid #e3dddf;
  display: flex;
  text-align: center;
}
.wrapAll .container .shopList .mainList .all-pro-list li .number span {
  width: 33%;
  height: 100%;
  line-height: 0.53333333rem;
}
.wrapAll .container .shopList .mainList .all-pro-list li .number .num {
  border-left: 1px solid #e3dddf;
  border-right: 1px solid #e3dddf;
}
.wrapAll .container .shopList .mainList .subtotal {
  width: 100%;
  height: 1.33333333rem;
  font-size: 0.32rem;
  color: #888;
  text-align: center;
  line-height: 1.33333333rem;
}
.wrapAll .container .shopList .mainList .subtotal div {
  display: inline-block;
}
.wrapAll .container .shopList .mainList .subtotal .discount {
  margin-left: 0.26666667rem;
}
.wrapAll .container .shopList .settlement {
  position: fixed;
  bottom: 1.33333333rem;
  background: #fff;
  width: 100%;
  z-index: 30;
  height: 1.2rem;
  display: flex;
}
.wrapAll .container .shopList .settlement .detail {
  width: 6.26666667rem;
  height: 100%;
  line-height: 0.53333333rem;
}
.wrapAll .container .shopList .settlement .detail .total {
  font-size: 0.37333333rem;
  color: #666;
}
.wrapAll .container .shopList .settlement .detail .total span {
  color: #ee5d58;
}
.wrapAll .container .shopList .settlement .detail div {
  height: 0.53333333rem;
  display: flex;
}
.wrapAll .container .shopList .settlement .detail .total-pro {
  font-size: 0.32rem;
  color: #666;
}
.wrapAll .container .shopList .settlement .detail .discount {
  font-size: 0.32rem;
  color: #666;
  margin-left: 0.4rem;
}
.wrapAll .container .shopList .settlement .pay {
  width: 2.66666667rem;
  height: 100%;
  background: #EE5D58;
  text-align: center;
  color: #fff;
  line-height: 1.2rem;
  font-size: 0.37333333rem;
}
.wrapAll .recommend {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapAll .recommend .title {
  color: #333;
  font-size: 0.37333333rem;
  width: 100%;
  height: 0.8rem;
  line-height: 1.06666667rem;
  text-align: center;
}
.wrapAll .recommend .recommendList {
  width: 93%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapAll .recommend .recommendList .item {
  height: 6.93333333rem;
  width: 4.45333333rem;
  position: relative;
  display: inline-block;
  border: 1px solid rgba(180, 180, 180, 0.6);
  border-radius: 0.08rem;
  overflow: hidden;
  margin-top: 0.26666667rem;
}
.wrapAll .recommend .recommendList .item a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.wrapAll .recommend .recommendList .item img {
  width: 100%;
  height: 4rem;
}
.wrapAll .recommend .recommendList .item .discrip {
  font-size: 0.37333333rem;
  width: 90%;
  margin: 0px auto;
  line-height: 0.53333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wrapAll .recommend .recommendList .item div {
  height: 1.86666667rem;
}
.wrapAll .recommend .recommendList .item .price {
  font-size: 0.37333333rem;
  color: #F49491;
  width: 90%;
  margin: 0px auto;
  margin-top: 0.53333333rem;
}
.wrapAll .recommend .recommendList .item .price span {
  color: #999;
  font-size: 0.32rem;
  text-decoration: line-through;
  margin-left: 0.26666667rem;
}
